{% extends 'base.html' %}

{% block content %}
    <style>
        .form-container {
            max-width: 500px;
            margin: auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #f8f9fa;
        }

        .form-group {
            margin-bottom: 15px;
        }

        .form-label {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
        }

        .form-input {
            width: 100%;
            padding: 8px;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        .form-button {
            background-color: #007bff;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
    </style>

    <div class="form-container">
        <h1 class="text-center">{% if form.instance.pk %}Редактировать рецепт{% else %}Создать рецепт{% endif %}</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="{{ form.title.id_for_label }}" class="form-label">Название:</label>
                {{ form.title }}
            </div>
            <div class="form-group">
                <label for="{{ form.description.id_for_label }}" class="form-label">Описание:</label>
                {{ form.description }}
            </div>
            <div class="form-group">
                <label for="{{ form.steps.id_for_label }}" class="form-label">Шаги приготовления:</label>
                {{ form.steps }}
            </div>
            <div class="form-group">
                <label for="{{ form.preparation_time.id_for_label }}" class="form-label">Время приготовления:</label>
                {{ form.preparation_time }}
            </div>
            <div class="form-group">
                <label for="{{ form.image.id_for_label }}" class="form-label">Изображение:</label>
                {{ form.image }}
            </div>
            <div class="form-group">
                <label for="{{ form.categories.id_for_label }}" class="form-label">Категории:</label>
                {{ form.categories }}
            </div>
            <div class="form-group">
                <label for="{{ form.is_published.id_for_label }}" class="form-label">Статус:</label>
                {{ form.is_published }}
            </div>
            <button type="submit" class="form-button">Сохранить</button>
        </form>
    </div>
{% endblock %}
